/* border-style: none; */
/* border-style: hidden; */
/* border-style: dotted; */
/* border-style: dashed; */
/* border-style: solid; */
/* border-style: double; */
/* border-style: groove; */
/* border-style: ridge; */
/* border-style: inset; */
/* border-style: outset; */

/* border-top-style: none; */
/* border-top-style: hidden; */
/* border-top-style: dotted; */
/* border-top-style: dashed; */
/* border-top-style: solid; */
/* border-top-style: double; */
/* border-top-style: groove; */
/* border-top-style: ridge; */
/* border-top-style: inset; */
/* border-top-style: outset; */

/* border-right-style: none; */
/* border-right-style: hidden; */
/* border-right-style: dotted; */
/* border-right-style: dashed; */
/* border-right-style: solid; */
/* border-right-style: double; */
/* border-right-style: groove; */
/* border-right-style: ridge; */
/* border-right-style: inset; */
/* border-right-style: outset; */

/* border-bottom-style: none; */
/* border-bottom-style: hidden; */
/* border-bottom-style: dotted; */
/* border-bottom-style: dashed; */
/* border-bottom-style: solid; */
/* border-bottom-style: double; */
/* border-bottom-style: groove; */
/* border-bottom-style: ridge; */
/* border-bottom-style: inset; */
/* border-bottom-style: outset; */

/* border-left-style: none; */
/* border-left-style: hidden; */
/* border-left-style: dotted; */
/* border-left-style: dashed; */
/* border-left-style: solid; */
/* border-left-style: double; */
/* border-left-style: groove; */
/* border-left-style: ridge; */
/* border-left-style: inset; */
/* border-left-style: outset; */


/* border-radius: 10px; */
/* border-color: red; */
/* padding: 5px; */



/* font-style: normal; */
/* font-style: italic; */
/* font-style: oblique; */
/* font-style: oblique 10deg; */
/* font-style: oblique 20deg; */
/* font-style: inherit; */
/* font-style: initial; */
/* font-style: unset; */

/* font-weight: normal; */
/* font-weight: bold; */
/* font-weight: lighter; */
/* font-weight: bolder; */
/* font-weight: 100; */
/* font-weight: 200; */
/* font-weight: 300; */
/* font-weight: 400; */
/* font-weight: 500; */
/* font-weight: 600; */
/* font-weight: 700; */
/* font-weight: 800; */
/* font-weight: 900; */
/* font-weight: inherit; */
/* font-weight: initial; */
/* font-weight: unset; */




/* background: none; */
/* background: initial; */
/* background: inherit; */
/* background: unset; */
/* background: color; */
/* background: url('image.jpg'); */
/* background: linear-gradient(to right, red, blue); */
/* background: radial-gradient(circle, red, blue); */
/* background: radial-gradient(ellipse, red, blue); */
/* background: conic-gradient(from 0deg, red, blue); */
/* background: repeating-linear-gradient(to right, red, blue 10%, red 20%); */
/* background: repeating-radial-gradient(circle, red, blue 10%, red 20%); */
/* background: repeating-conic-gradient(from 0deg, red 10%, blue 20%); */
/* background: fixed; */
/* background: local; */
/* background: scroll; */
/* background: cover; */
/* background: contain; */
/* background: border-box; */
/* background: padding-box; */
/* background: content-box; */
/* background: no-repeat; */
/* background-repeat: no-repeat; */
/* background: repeat; */
/* background: repeat-x; */
/* background: repeat-y; */
/* background: space; */
/* background: round; */
/* background-size: cover; */


/* background-attachment: scroll; */
/* background-attachment: fixed; */
/* background-attachment: local; */
/* background-attachment: inherit; */
/* background-attachment: initial; */
/* background-attachment: unset; */

/* body element */
/* margin: 0px; */

/* 
transform: translateX(50px);
transform: translateY(50px);
transform: translate (50px, 50px);
transform: rotateX(180deg);
transform: rotateY(180deg);
transform: rotateZ (180deg);
transform: scaleX(3);
transform: scaleY(3);
transform: scale(2, 2);
transform: skewX(45deg);
transform: skewY(45deg);
transform: skew(20deg, 20deg);
*/